@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}

/*Général*/
h1, h2, h3{
    margin-bottom: 20px;
}

/*Header section*/
header{
    background-color: #334756;
}

header nav{
    height: 75px; 
    position: relative;   
}

header h1{
    display: inline-block;
    margin: 0;
}

header ul{
    display: inline-block;
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
}

header ul li{
    display: inline-block;
}

header a{
    text-decoration: none;
    color: white;
    display: block;
    height: 75px;
    line-height: 75px;
    text-align: center;
    padding: 0 20px;
}

.active{
    background-color: #6c757d;
}

/*Footer section*/
footer{
    background-color: #334756;
    padding: 20px 0;
    text-align: center;
    color: white;
}

/*Main section*/
main{
    min-height: 90vh;
    padding: 15vh 0;
}

/*page index*/
.index-main{
    background-image: url(./images/cafe1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.index-main .ligne{
    width: 100px;
    height: 10px;
    background-color: black;
    margin-bottom: 20px;
}

.index-main div{
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

.index-main div h2{
    font-size: 2.5em;
    color: white;
}

.index-main div p{
    color: white;
    margin-bottom: 20px;
}

.index-main div button{
    background-color: white;
    border: none;
    border-radius: 25px;
}

.index-main a{
    display: block;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

/*page location*/
.location-main{
    text-align: center;
}

.location-main div{
    width: 400px;
    display: inline-block;
    vertical-align: top;
    margin: 0 50px;
    text-align: start;
}

.location-main img{
    width: 100%;
    border: 1px solid grey;
}

.location-main h2{
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

span{
    padding: 5px 15px;
    border-radius: 100%;
    color: white;
}

.bleu{
    background-color: blue;
}

.orange{
    background-color: orange;
}

/*page contact*/
.contact-main{
    padding: 0;
   
   
}
#contact-form{
    width: 600px;
    margin: 0 auto;
    padding: 100px;
    background: url(./images/cafe3.jpg) rgba(180, 180, 180, 1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
   
}


#contact-form h2{
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

#contact-form label{
    display: block;
    font-weight: 700;
    margin: 10px 0;
}

#contact-form input{
    display: block;
    margin: 10px 0;
    height: 30px;
    width: 100%;
}

#contact-form textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
}

#contact-form #soumettre{
    width: auto;
    height: auto;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 20px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 30px;
}








